<div class='matchBox <%= match_details[:match_victory] ? 'matchWin' : 'matchLose' %> yay'>
	<div class='matchHeader'>
		<div class='matchType'>
			<%= match_details[:match_type] %>
		</div>
		<div class='matchResult'>
			<%= match_details[:match_time] %>
			<% if (match_details[:match_victory]) %>
				Victory
			<% else %>
				Defeat
			<% end %>
		</div>
	</div>
	<div class='matchDetails'>
		<div class='champInfo'>
			<div class='champPortrait'>
				<!-- TODO decide based on champ -->
			</div>
			<span><%= summoner_name %></span>
		</div>
		<div class='summonerSpells'>
			<% summoner_spells.each do |spell| %>
			<div class='spell tip' data-tip-text='<b><%= spell[:name] %></b> <br> <%= spell[:description] %>'>
			</div>
			<% end %>
		</div>
		<div class='killInfo'>
			<div class='kda'>
				<span><%= kills %></span>
				 /
				<span class='deaths'><%= deaths %></span>
				 /
				<span><%= assists %></span>
			</div>
			<div class='kdaRatio'>
			<% if deaths == 0 %>
				<span>Perfect</span>
			<% else %>
				<span><%= ((kills + assists) / deaths.to_f).round(2) %></span>
			<% end %>
			<span>kda</span>
			</div>
		</div>
		<div class='miscInfo'>
			<div class='charLevel'>
				Level <span><%= level %></span>
			</div>
			<div class='csStats tip' data-tip-text="<%= creep_score[:minions] %> minions and <%= creep_score[:monsters] %> monsters">
				CS <span><%= creep_score[:minions] + creep_score[:monsters] %></span>
			</div>
			<div class='goldEarned'>
				<span><%= (gold_earned.to_f/1000).round(1) %>k<span> Gold
			</div>
		</div>
		<div class='items'>
			<% items.each do |item| %>
				<div class='item tip' data-tip-text="<%= item[:description] %>"></div>
			<% end %>
		</div>
		<div class='itemsTrinket'>
			<div class='item tip' data-tip-text="<%= trinket[:description] %>"></div>
			<span>Trinket</span>
		</div>
		<div class='teams'>
			<div class='team players'>
				Blue Team
				<%= render partial: 'match_history_team_display', locals: {team_players: team_1_players} %>

			</div>
			<div class='team players'>
				Purple Team
				<%= render partial: 'match_history_team_display', locals: {team_players: team_2_players} %>
			</div>
		</div>
	</div>
</div>